/*
 * using this tutorial from unused-css.com
 * https://unused-css.com/blog/css-only-hamburger-menu/
 */

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: sans-serif;
    background: radial-gradient(#8d8888 0%, #101010 100%);
}
.hamburger-container{
    width: max-content;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    transition: transform 0.5s ease;
}

.hamburger-container .checkbox{
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

/*
 * The following is to give visual feedback
 * for users navigating via keyboard
 */

 .hamburger-container .checkbox:focus ~ .hamburger {
    /* Not all browsers support outline:auto so this includes a fallback outline */
    outline: 2px solid white;
    outline: auto;
    outline-offset: 4px;
 }

 /*
  * For newer browsers that do support :focus-visible,
  * hide the outline when the checkbox is not selected with the keyboard.
  */

@supports selector(::focus-visible) {
    .hamburger-container .checkbox:not(:focus-visible) ~ .hamburger {
        outline: none;
    }
}

.drawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 22px;
    background: black;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.drawer .nav-list{
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 20px;
}

.drawer .nav-list .nav-list-item{
    padding-bottom: 10px;
}

.hamburger-container .checkbox:checked ~ .drawer {
    transform: translateX(0%);
}

.hamburger-container .drawer a{
    visibility: hidden;
    transition: visibility 0.5s linear;
}

.hamburger-container .checkbox:checked ~ .drawer a{
    visibility: visible;
}

.hamburger .slice:not(:first-child) {
    margin-top: 10px;
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(1){
    transform: translateY(12px) rotate(45deg);
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(2){
    opacity: 0;
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(3){
    transform: translateY(-12px) rotate(-45deg);
}

.hamburger{
    width: 32px;
    height: 32px;
    position: relative;
    display: block;
    transition: transform 0.5s ease;
    z-index: 1;
    cursor: pointer;
    padding-top: 5px;
}

.hamburger-container .checkbox{
    transition: transform 0.5s ease;
}

.hamburger .slice {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease;
}

@media sceen and (max-width: 768px){
    .drawer{
        width: 100%;
    }
}